
<section class="hero"> 
  <div class="container container1"> 
    <div class="hero-left"> 
      <h1 class="hero__heading"><span>Dive</span> Into The Depths <br/> Of <span>Virtual Reality </span></h1>
      <p class="hero__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore nisl tincidunt eget. Lectus mauris eros in vitae .</p>
      <button class="hero__btn">BUILD YOUR WORLD</button>
    </div>
    <div class="hero-right"><img src="/assets/images/oculus-hero__img.svg" alt="rasm"/></div>
  </div>
  <div class="container"> 
    <div class="hero--bottom"> 
      <ol class="hero--bottom__list"> 
        <li class="hero--bottom__list__item location-item">
          <h3 class="hero--bottom__list__heading">Pay Us a Visit</h3>
          <p class="hero--bottom__list__desc">Union St, Seattle, WA 98101, United States</p>
        </li>
        <li class="hero--bottom__list__item call-item"> 
          <h3 class="hero--bottom__list__heading">Pay Us a Visit</h3>
          <p class="hero--bottom__list__desc">Union St, Seattle, WA 98101, United States</p>
        </li>
        <li class="hero--bottom__list__item mail-item"> 
          <h3 class="hero--bottom__list__heading">Pay Us a Visit</h3>
          <p class="hero--bottom__list__desc">Union St, Seattle, WA 98101, United States</p>
        </li>
      </ol>
    </div>
  </div>
</section>