
footer
    .footer_box 
        h1 JOIN HYDRA
        p Let’s Build Your VR Experience
        .footer_inline 
            input(type="text" placeholder="First Name") 
            input(type="text" placeholder="Last Name")
        .footer_inline 
            input(type="email", placeholder="Emile") 
            input(type="Number" placeholder="Phone Number")
        input(type="text" placeholder="Subject").subject
        input(type="text" placeholder="Tell Us Something...").tell
        button SEND TO HYDRA
    .footer_end 
        section 
            img(src="../img/logo/Frame.svg", alt="logo").logo
            img(src="../img/img/Vector 20.svg", alt="victor").vector
            ul 
                li ABOUT
                li SERVICES
                li TECHNOLOGIES
                li HOW TO
                li JOIN HYDRA
            img(src="../img/img/Vector 20.svg", alt="victor").vector
            ul 
                li F.A.Q
                li SITEMAP
                li CONDITIONS
                li LICENSES
            img(src="../img/img/Vector 20.svg", alt="victor").vector
            .end_in 
                h4 SOCIALIZE WITH HYDRA
                .icon 
                    img(src="../img/icon/facebook.svg", alt="icon")
                    img(src="../img/icon/twitter.svg", alt="icon")
                    img(src="../img/icon/linkedin (1).svg", alt="icon")
                    img(src="../img/icon/youtube.svg", alt="icon")
                    img(src="../img/icon/instagram (1).svg", alt="icon")
                    img(src="../img/icon/pinterest.svg", alt="icon")
                button BUILD YOUR WORLD
        br
        br
        img(src="../img/img/Vector 17.svg", alt="victor").vector
        p 2023 © HYDRA LANDING PAGE - BY ZINE. E. FALOUTI - ALL RIGHTS RESERVED 