header.header 
    .container 
        .header__logo-wrappper 
            img(src="/assets/logo/oculus-header-logo.svg", alt="logo")
            img(src="/assets/logo/oculus-header-logo2.svg", alt="logo")

        ol.header__list 
            li.header__list__item 
                a(href="#") ABOUT 

            li.header__list__item 
                a(href="#") SERVICES 

            li.header__list__item 
                a(href="#") TECHNOLOGIES 

            li.header__list__item 
                a(href="#") TECHNOLOGIES

        .header__btn-wrapper 
            button.header__contact-btn CONTACT US
            button.header__join-btn JOIN HYDRA 

        img.header__hamburger-icon(src="/assets/icon/Hamburger-Button.png", alt="hamburger")