section.hero 
    .container.container1 
        .hero-left 
            h1.hero__heading #[span Dive] Into The Depths #[br] Of #[span Virtual Reality ]
            p.hero__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore nisl tincidunt eget. Lectus mauris eros in vitae .

            button.hero__btn BUILD YOUR WORLD
        .hero-right
            img(src="/assets/images/oculus-hero__img.svg", alt="rasm")

    .container 
        .hero--bottom 
            ol.hero--bottom__list 
                li.hero--bottom__list__item.location-item
                    h3.hero--bottom__list__heading Pay Us a Visit
                    p.hero--bottom__list__desc Union St, Seattle, WA 98101, United States

                li.hero--bottom__list__item.call-item 
                    h3.hero--bottom__list__heading Pay Us a Visit
                    p.hero--bottom__list__desc Union St, Seattle, WA 98101, United States

                li.hero--bottom__list__item.mail-item 
                    h3.hero--bottom__list__heading Pay Us a Visit
                    p.hero--bottom__list__desc Union St, Seattle, WA 98101, United States