
.about-us{
    width: 1272px;
    margin: 0 auto;
    display: flex;
    margin-bottom: 111px;
}

.about--left--h1{
    font-size: 36px;
    color: #fff;
    font-weight: bold;
    position: absolute;
}

.about--left--hydra{
    font-size: 36px;
    color: #fff;
    position: relative;
    margin-top: 40px;
}

.about--left--img2{
    width: 424px;
    height: 457px;
    margin-top: 70px;                                                                                                                   
}

.about--left--component{
    display: flex;
    align-items: center;
    gap: 30px;

}

.about--left--img1{
    width: 188px;
    margin-top: 35px;
}

.about--right--hydra{
    font-size: 36px;
    color: #fff;
}

.about--right--h2{
    font-size: 36px;
    color: #fff;
    font-weight: bold;
    margin-top: 130px;
    line-height: 50px;
}

.about--right--paragraph{
    font-size: 16px;
    color: #ffffffe2;
    width: 600px;
    height: 98px;
    // margin-top: 40px;
    line-height: 25px;
}

.about--right--paragraph--eget{
    font-size: 16px;
    color: #ffffffcf;
    width: 580px;
    margin-top: 42px;
    line-height: 20px;
}

.about--right{
    margin-left: 100px;
}

.abut--home--hr{
    font-size: 36px;
    color: #fff;
}