.header__contact-btn{
    width: 154px;
    height: 48px;
    border-radius: 40px;
    border: 2px solid #fff;
    background-color: transparent;
    font-size: 12px;
    font-weight: bold;
    color:#fff;
    outline: none;
    cursor: pointer;
}

.header__join-btn{
    width: 155px;
    height: 48px;
    border-radius: 40px;
    background-color: #8176AF;
    outline: none;
    font-size: 12px;
    color:#343045;
    font-weight: bold;
    border:none;
    cursor: pointer;
}

.hero__btn{
    width: 214px;
    height: 48px;
    background-color: #8176AF;
    border: none;
    border-radius: 40px;
    font-size: 12px;
    color:#343045;
    font-weight: bold;
    cursor: pointer;
}