.hero{
    margin-top: 133px;
    margin-bottom: 103px;
    .container{
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;

        .hero__heading{
            font-size: 40px;
            color:#fff;
            margin-bottom: 36px;

            span{
                font-size: 46px;
                color:#c0b7e8;
            }
        }

        .hero__desc{
            font-size: 16px;
            color:#fff;
            width: 450px;
            line-height: 20px;
            margin-bottom: 66px;
        }
    }

    .hero--bottom {
        margin-top: 103px;
        background-color: #232030;
        width: 1272px;
        height: 167px;
        border-radius: 90px;
        .hero--bottom__list{
            display: flex;
            align-items:center;
            flex-direction: row;
            gap: 147px;
            align-items:center;
            justify-content: center;
            padding-top: 53px;

            .hero--bottom__list__item{
                position: relative;
                height: 116px;
                // border-right:1px solid #C0B7E8;
            }

            .location-item::before{
                content: url(/assets/icon/Location-Icon.svg);
                position: absolute;
                left: -70px;
                top: -10px;
            }

            .call-item::before{
                content: url(/assets/icon/phone-call.svg);
                position: absolute;
                left: -70px;   
            }

            .mail-item::before{
                content: url(/assets/icon/mail.svg);
                position: absolute;
                left: -70px;
                top: -5px;
            }

            .hero--bottom__list__heading{
                font-size: 24px;
                color:#fff;
            }

            .hero--bottom__list__desc{
                font-size: 14px;
                color:#ffffffa2;
                margin-top: 10px;
            }
        }
    }
}

@media only screen and (max-width:400px){
    .hero{
        .container{
            width: 370px;
            margin:0 auto;
        }

        .container1{
            display: flex;
            align-items: center;
            flex-direction: column-reverse;

            .hero--bottom__list__desc{
                display: none !important;
            }
        }
    }
}